<div class="card">
  <div class="card-header">
    New Post
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="create($event)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input formControlName="title" type="text" name="title" class="form-control" id="title" placeholder="Title name:">
        <div *ngIf="formCreate.title.errors">
          <span class="text-danger" ngIf="formCreate.title.errors.required">Title is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea formControlName="body" rows="5" name="body" class="form-control" id="body" placeholder="Body name:"></textarea>
        <div ngIf="*formCreate.body.errors">
          <span class="text-danger" ngIf="formCreate.body.errors.required">Body is required</span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
